:root {
    --primary-color:         #313B43;
    --secondary-color:       #8F744C;
    --secondary-color-light: #EBCDA0;
    --text-primary-color:    #000000;
    --text-secondary-color:  #FFFF;
}

header {
    top: 0;
    position: absolute;
}

.header__img {
    max-height: 100vh;
    width: 100%;
    z-index: -1;
}

.header__text {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

.header__logo {
    mix-blend-mode: overlay;
    width: 100%;
}

.header__slogan {
    mix-blend-mode: overlay;
    align-self: flex-end;
    color: var(--text-secondary-color);
}


.heading {
    grid-column: 1 / 7;
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading__text {
    text-align: center;
}

.heading__line {
    width: 80%;
    background-color: black;
    height: 2px;
}

.content {
    grid-column: span 3;
}

.content__img {
    width: 100%;
}

.content__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    justify-content: space-around;
}

.content__button {
    align-self: flex-end;
}

.content__smallimg {
    float: right;
    width: 140px;
    position: relative;
    top: -48px;
    margin-bottom: -48px;
}

@media screen and (max-width: 1274px) {
    .content__heading {
        font-size: 24px;
    }
    .content__text {
        font-size: 20px;
        line-height: 30px;
    }
}

@media screen and (max-width: 997px) {
    .content__text {
        display: none;
    }
    .content__heading {
        font-size: 32px;
        align-self: center;
        text-align: center;
    }
    .content__button {
        align-self: center;
    }
}

@media screen and (max-width: 575px) {
    .content {
        grid-column: span 7;
        height: 100%;
    }
    .content:nth-child(5) {
        grid-row: 4 / 5;
    }
    .content__text {
        display: block;
    }
    .content__smallimg {
        top: 0px;
        margin-bottom: 0px;
        width: 100px;
    }
    .content__text {
        font-size: 14px;
    }
}


@media screen and (max-width: 464px) {
    .big-heading {
        font-size: 30px;
    }

    .medium-heading {
        font-size: 16px;
    }
    .header__slogan {
        font-size: 14px;
        line-height: 18px;
    }
}