<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components for bonz.ai</title>
    <link
      href="https://fonts.googleapis.com/css?family=Julius Sans One"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="components.css" />
  </head>
  <body>
    <h1>Text styles</h1>
    <h1 class="big-heading">big Heading</h1>
    <h2 class="medium-heading">medium heading</h2>
    <h3 class="small-heading">small heading</h3>
    <p class="big-text">big text</p>
    <p class="small-text">small text</p>
    <p class="small-text-bold">small text bold</p>
    <h1>colors</h1>
    <div class="block__primary">
      <h2>Primary color</h2>
      <p>#313B43</p>
    </div>
    <div class="block__secondary">
      <h2>Secondary color</h2>
      <p>#8F744C</p>
    </div>
    <div class="block__secondary--light">
      <h2>Secondary color light</h2>
      <p>#EBCDA0</p>
    </div>
    <article class="grid">
      <h1>buttons</h1>
      <button class="button-action small-heading">Find out more</button>
      <nav class="menu dark-bg">
        <a href="#" class="menu__option--light medium-heading">houses</a>
        <a href="#" class="menu__option--light medium-heading">vision</a>
        <a href="#" class="menu__option--light medium-heading">contact</a>
      </nav>
      <nav class="menu">
        <a href="#" class="menu__option--dark medium-heading current-underline"
          >houses</a
        >
        <a
          href="#"
          class="hover-underline-animation menu__option--dark medium-heading"
          >vision</a
        >
        <a
          href="#"
          class="hover-underline-animation menu__option--dark medium-heading"
          >contact</a
        >
      </nav>
    </article>
    <br />
    <div class="slideshow">
      <div class="slideshow__slides fade">
        <img src="../img/08-night.jpg" class="slideshow__img" />
        <div class="slideshow__info">
          <h2 class="medium-heading slideshow__info--heading">the lakehouse</h2>
          <p class="small-text slideshow__info--text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            qui perspiciatis quasi saepe, quisquam iusto ducimus consectetur
            expedita accusantium illo eligendi commodi, adipisci atque natus
            delectus corrupti unde odio voluptatem.
          </p>
        </div>
        <button class="button-action small-heading slideshow__button">
          Find out more
        </button>
      </div>

      <div class="slideshow__slides fade">
        <img src="../img/01-day.jpg" class="slideshow__img" />
        <div class="slideshow__-info">
          <h2 class="medium-heading slideshow__info--heading">
            Workaholic cabin
          </h2>
          <p class="small-text slideshow__info--text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            qui perspiciatis quasi saepe, quisquam iusto ducimus consectetur
            expedita accusantium illo eligendi commodi, adipisci atque natus
            delectus corrupti unde odio voluptatem.
          </p>
        </div>
        <button class="button-action small-heading slideshow__button">
          Find out more
        </button>
      </div>

      <div class="slideshow__slides fade">
        <img src="../img/05-day.jpg" class="slideshow__img" />
        <div class="slideshow__info">
          <h2 class="medium-heading slideshow__info--heading">
            the all-inclusive
          </h2>
          <p class="small-text slideshow__info--text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            qui perspiciatis quasi saepe, quisquam iusto ducimus consectetur
            expedita accusantium illo eligendi commodi, adipisci atque natus
            delectus corrupti unde odio voluptatem.
          </p>
        </div>
        <button class="button-action small-heading slideshow__button">
          Find out more
        </button>
      </div>

      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>
      <div class="slideshow__dots">
        <span class="slideshow__dot" onclick="currentSlide(1)"></span>
        <span class="slideshow__dot" onclick="currentSlide(2)"></span>
        <span class="slideshow__dot" onclick="currentSlide(3)"></span>
      </div>
    </div>
    <br />
    <br />
    <br />
    <section class="grid">
      <article class="datepicker">
        <div class="datepicker__flex">
          <aside class="datepicker__persondate">
            <img
              src="../img/material-symbols_person.svg"
              alt="person"
              class="datepicker__img"
            />
            <div class="datepicker__text">
              <p class="small-text-bold">Persons</p>
              <input
                type="number"
                class="datepicker__input datepicker__persons"
                placeholder="1"
              />
            </div>
          </aside>
          <aside class="datepicker__persondate">
            <img
              src="../img/material-symbols_calendar-month-outline.svg"
              alt="person"
              class="datepicker__img"
            />
            <div class="datepicker__text">
              <p class="small-text-bold">Check-in</p>
              <input type="date" class="datepicker__input" />
            </div>
          </aside>
          <aside class="datepicker__persondate">
            <img
              src="../img/material-symbols_calendar-month-outline.svg"
              alt="person"
              class="datepicker__img"
            />
            <div class="datepicker__text">
              <p class="small-text-bold">Check-out</p>
              <input type="date" class="datepicker__input" />
            </div>
          </aside>
        </div>
        <div></div>
      </article>

      <article class="housecard">
        <img src="../img/05-day.jpg" alt="" class="housecard__img" />
        <aside class="housecard__content">
          <h2 class="medium-heading housecard__heading">the all-inclusive</h2>
          <div class="housecard__text">
            <p class="small-text">
              <span class="housecard__dot"></span>Work station for you that have
              to work
            </p>
          </div>
          <div class="housecard__text">
            <p class="small-text">
              <span class="housecard__dot"></span>One King-size bed
            </p>
          </div>
          <div class="housecard__text">
            <p class="small-text">
              <span class="housecard__dot"></span>24 hour house service
            </p>
          </div>
          <div class="housecard__text">
            <p class="small-text">
              <span class="housecard__dot"></span>Free WIFI
            </p>
          </div>
          <button class="button-action small-heading housecard__button">
            Book now
          </button>
        </aside>
      </article>
      <article class="housecard">
        <img src="../img/05-day.jpg" alt="" class="housecard__img" />
        <aside class="housecard__content">
          <h2 class="medium-heading housecard__heading">the all-inclusive</h2>
          <div class="housecard__text">
            <p class="small-text">
              <span class="housecard__dot"></span>Work station for you that have
              to work
            </p>
          </div>
          <div class="housecard__text">
            <p class="small-text">
              <span class="housecard__dot"></span>One King-size bed
            </p>
          </div>
          <div class="housecard__text">
            <p class="small-text">
              <span class="housecard__dot"></span>24 hour house service
            </p>
          </div>
          <div class="housecard__text">
            <p class="small-text">
              <span class="housecard__dot"></span>Free WIFI
            </p>
          </div>
          <button class="button-action small-heading housecard__button">
            Book now
          </button>
        </aside>
      </article>
      <article class="housecard">
        <img src="../img/05-day.jpg" alt="" class="housecard__img" />
        <aside class="housecard__content">
          <h2 class="medium-heading housecard__heading">the all-inclusive</h2>
          <div class="housecard__text">
            <p class="small-text">
              <span class="housecard__dot"></span>Work station for you that have
              to work
            </p>
          </div>
          <div class="housecard__text">
            <p class="small-text">
              <span class="housecard__dot"></span>One King-size bed
            </p>
          </div>
          <div class="housecard__text">
            <p class="small-text">
              <span class="housecard__dot"></span>24 hour house service
            </p>
          </div>
          <div class="housecard__text">
            <p class="small-text">
              <span class="housecard__dot"></span>Free WIFI
            </p>
          </div>
          <button class="button-action small-heading housecard__button">
            Book now
          </button>
        </aside>
      </article>
      <article class="infobox">
        <h2 class="medium-heading">your stay</h2>
        <div class="infobox__checkinout">
          <div class="infobox__checkinout--text">
            <p class="small-text-bold">Check-in</p>
            <p class="small-text">After 3:00 PM</p>
          </div>
          <div class="infobox__checkinout--text">
            <p class="small-text-bold">Check-out</p>
            <p class="small-text">Before 12:00 AM</p>
          </div>
        </div>
        <p class="small-text">Wed, feb 23, 2024 - Tue, feb 29, 2024</p>
        <p class="small-text">1 Adult</p>
        <hr class="infobox__line" />
        <div class="infobox__total">
          <p class="big-text">Total:</p>
          <p class="big-text">0.00$</p>
        </div>
      </article>
      <footer class="footer">
        <aside class="footer__location">
          <h2 class="medium-heading footer__heading">Location</h2>
          <img
            src="../img/gis_world-map-alt.svg"
            alt="location"
            class="footer__img"
          />
          <aside class="footer__text">
            <p class="small-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A
              exercitationem natus beatae, earum mollitia ex fugit, sint,
            </p>
            <p class="small-text">
              <span class="small-text-bold">Adress:</span> Rickipungsvägen 14
            </p>
          </aside>
        </aside>
        <aside class="footer__services">
          <h2 class="medium-heading footer__heading">Services</h2>
          <a href="#" class="small-text footer__link">
            <span class="housecard__dot"></span>Bonz.iar airport
          </a>
          <a href="#" class="small-text footer__link">
            <span class="housecard__dot"></span>
            Drone shuttle from your house (Only for australians)
          </a>
          <a href="#" class="small-text footer__link">
            <span class="housecard__dot"></span>Our Wine package
          </a>
          <a href="#" class="small-text footer__link"><span class="housecard__dot"></span>Contact</p>
          <a href="#" class="small-text footer__link">
            <span class="housecard__dot"></span>Cancel your booking
          </a>
        </aside>
      </footer>
    </section>
    <script src="slideshow.js"></script>
  </body>
</html>
